:root {

  --color-hr-color: rgba(128, 128, 128, 0.3);
}

.Container {
  align-items: center;
  border-bottom: 1px solid var(--color-hr-color);
  display: flex;
  padding: 15px;
}

.Container:nth-of-type( 1 ) {
  border-top: 1px solid var(--color-hr-color);
}

.Span {
  white-space: nowrap;
  width: 200px;
}

.Checkbox {
  margin-right: 50px;
}

.Label {
  margin: 0 20px;
  min-width: 13px;
}
