.ProfileImage {
  border-radius: 50%;
  width: 80px;
}

.Main {
  margin: 10vh auto 0;
  width: 288px;
}

.Main h4 {
  color: hsl(217, 20%, 30%);
  margin: 15px 0 5px;
}

.NameAndImageContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.ProfileEditButton {
  background-color: white;
  border: 2px solid hsl(225, 100%, 45%);
  border-radius: 6px;
  color: hsl(225, 100%, 45%);
  cursor: pointer;
  height: fit-content;
  outline: none;
  padding: 5px 15px;
}
