.Loading {
  align-items: center;
}

.FavoritesContainer h3 {
  margin: 35px;
  text-align: center;
}

.Main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 20vw;
  position: relative;
  text-align: center;
}

@media ( max-width : 1055px ) {

  .Main {
    margin: 0 10vw;
  }
}

@media ( max-width : 625px ) {

  .Main {
    margin: 0 4vw;
  }
}
